.prodABM {
    background-color: red;
    height: 50px;
    width: 25%;
    font-size: 25px;
    font-weight: 500;
    padding: 5px;
    text-align: center;
    color: white;
    border: none;
    border-radius: 20px;
    margin: 14PX;
}
.editProd,
.elimProd {
    background-color: blue;
    width: 40%;
    font-weight: 500;
    padding: 5px;
    text-align: center;
    color: white;
    border: none;
    border-radius: 10px;
    margin: 10PX;
}
.elimProd {
    background-color: red;
}